geoplatform-tools/geoplatform-connectors/geoplatform-ogc-connectors/geoplatform-wfs-connector-module/geoplatform-wfs-connector/src/test/resources/wfsSecureDescribeFeaturev110.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:ogc="http://www.opengis.net/ogc" xmlns:ns6="http://www.w3.org/1999/xlink" xmlns:ns7="http://www.w3.org/2001/SMIL20/" xmlns:ns8="http://www.w3.org/2001/SMIL20/Language" targetNamespace="http://www.census.gov" elementFormDefault="qualified">
    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://150.145.141.180:80/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
    <xs:complexType name="poiType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element type="gml:PointPropertyType" nillable="true" name="the_geom" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" nillable="true" name="NAME" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" nillable="true" name="THUMBNAIL" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" nillable="true" name="MAINPAGE" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:tiger="http://www.census.gov" type="tiger:poiType" substitutionGroup="gml:_Feature" name="poi"/>
</xs:schema>
