geoplatform-services/geoplatform-modules/geoplatform-ogc/wfs/wfs-impl/src/test/resources/restricted-DescribeFeatureType.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--


       geo-platform
       Rich webgis framework
       http://geo-platform.org
      ====================================================================

      Copyright (C) 2008-2014 geoSDI Group (CNR IMAA - Potenza - ITALY).

      This program is free software: you can redistribute it and/or modify it
      under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version. This program is distributed in the
      hope that it will be useful, but WITHOUT ANY WARRANTY; without
      even the implied warranty of MERCHANTABILITY or FITNESS FOR
      A PARTICULAR PURPOSE. See the GNU General Public License
      for more details. You should have received a copy of the GNU General
      Public License along with this program. If not, see http://www.gnu.org/licenses/

      ====================================================================

      Linking this library statically or dynamically with other modules is
      making a combined work based on this library. Thus, the terms and
      conditions of the GNU General Public License cover the whole combination.

      As a special exception, the copyright holders of this library give you permission
      to link this library with independent modules to produce an executable, regardless
      of the license terms of these independent modules, and to copy and distribute
      the resulting executable under terms of your choice, provided that you also meet,
      for each linked independent module, the terms and conditions of the license of
      that module. An independent module is a module which is not derived from or
      based on this library. If you modify this library, you may extend this exception
      to your version of the library, but you are not obligated to do so. If you do not
      wish to do so, delete this exception statement from your version.

-->
<xsd:schema xmlns:cite="http://www.opengeospatial.net/cite" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:nurc="http://www.nurc.nato.int" xmlns:sde="http://geoserver.sf.net" xmlns:sf="http://www.openplans.org/spearfish" xmlns:tiger="http://www.census.gov" xmlns:topp="http://www.openplans.org/topp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.openplans.org/spearfish">
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://150.146.160.92:80/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
    <xsd:complexType name="restrictedType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:MultiSurfacePropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="cat" nillable="true" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="restricted" substitutionGroup="gml:_Feature" type="sf:restrictedType"/>
</xsd:schema>