geoplatform-services/geoplatform-modules/geoplatform-ogc/wfs/wfs-impl/src/test/resources/tiger_roads-DescribeFeatureType.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cite="http://www.opengeospatial.net/cite" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:nurc="http://www.nurc.nato.int" xmlns:sde="http://geoserver.sf.net" xmlns:sf="http://www.openplans.org/spearfish" xmlns:tiger="http://www.census.gov" xmlns:topp="http://www.openplans.org/topp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.census.gov">
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://150.146.160.92:80/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
    <xsd:complexType name="tiger_roadsType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:MultiLineStringPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CFCC" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NAME" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="tiger_roads" substitutionGroup="gml:_Feature" type="tiger:tiger_roadsType"/>
</xsd:schema>